<html>
    <head>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"> </script>
        <script type=text/javascript src="{{ url_for('static', filename='meu_ajax.js') }}"> </script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <meta name="google" content="notranslate">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>     
        <script>
            var socket = io.connect(location.protocol+'//' + document.domain + ':' + location.port + '/pess/'+"{{ nome }}");
            socket.on('reloadPedidos', function() {
                location.reload();
            });
        </script> 
        <h1>Pedidos prontos</h1>
        <div id="main">
            {% for p in pedidos %}
                {%  if p[0]== nome %}
                    <table id='{{ p[-2] }}'>
                        <tr>
                            <td><input class="check"  type="button" id="removerPronto" value="&#x2714;" onclick="pedidoEntregue('{{ p[-2]}}')"></td>
                            <td><label style="font-size:60px">&nbsp;{{p[1]}}</label><label style="font-size:60px;color: red;">&nbsp;➜</label><label style="font-size:60px;">&nbsp;&nbsp;{{p[2]}}</label></td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor %}  
            <br>  
            </div>
            <input type="hidden" value="{{ nome }}">
            <input class="button" type="submit" id="novo" value="Novo Pedido">
        <div>
    </body>
</html>