<html>
    <head>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"> </script>
        <script type=text/javascript src="{{ url_for('static', filename='meu_ajax.js') }}"> </script>
        <script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=0.4, user-scalable=0">
        <meta name="google" content="notranslate">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script>
            var opcoes_Comida_Bebida = JSON.parse('{{ opcoes_validas|tojson|safe }}');
            var preco_Comida_Bebida = JSON.parse('{{ preco_opcoes|tojson|safe }}');
        </script>
    </head>
    <body>
        <h1>Pedidos Automático: <span id="preco">0.00</span>€</h1>
        <style>
            .align-label {
                display: flex;
                align-items: center;
            }

            .align-label label {
                margin: 0;
            }
        </style>

        <table id="titulo" style="width:100%;display:none;">
            <tr>
                <th style="width:15%; color: #374e4f; font-size: 50px; padding: 12px 20px;">
                    <div class="align-label">
                        <label>Qtd.</label>
                    </div>
                </th>
                <th style="width:85%; color: #374e4f; font-size: 50px; padding: 12px 20px;">
                    <div class="align-label">
                        <label>Pedidos</label>
                    </div>
                </th>
            </tr>
        </table>
        <div style="overflow-x:auto;">
            <table id="tabela">

            </table>
        </div>
        <br>
        {%if validos[0]%}
            <input class="button" type="button" style='background: #1ea831;' id="add" onclick="addRow('c',opcoes_Comida_Bebida,preco_Comida_Bebida)" value="Adicionar Comida">
        {%endif%}
        {%if validos[1]%}
            <input class="button" type="button" style='background: #2d2091;' id="add" onclick="addRow('b',opcoes_Comida_Bebida,preco_Comida_Bebida)" value="Adicionar Bebida">
        {%endif%}
        <br><br>
        <input class="button" type="submit" id="menu" value="Ver Menu">
        <input class="button" type="submit" id="send" value="Criar QrCode">

    </body>
</html>