<html>
    <head>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"> </script>
        <script type=text/javascript src="{{ url_for('static', filename='meu_ajax.js') }}"> </script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <meta name="google" content="notranslate">
        <meta http-equiv="refresh" content="5">
    </head>
    <body> 
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        
        <script>
            function removeRow(n,t){
                var row = document.getElementById(n);
                row.parentNode.removeChild(row)
                json_send = {feito:n};
                $.post($SCRIPT_ROOT + '/'+t, json_send, reload,'json');
            }

        </script>       
        <h1 style="font-size:100px">Lista de pedidos</h1>
        {% for p in pedidos %}
            <table id="{{ p[-1] }}">
                <tr>
                    <td>
                        <p style="font-size:70px" ><b>{{ p[0] }}</b> <input type="button" name="{{ p[-1] }}" id="feito" value="Feito" onclick="removeRow({{ p[-1] }},'{{ tip }}')"></p>
                    </td>
                </tr>
            {% for i in range(p[1]|length) %}
                <tr>
                    <td>    
                        <p style="font-size:30px">{{p[1][i]}}       {{p[2][i]}}</p>
                    </td>
                </tr>
            {% endfor %}
            
            </table>
            <br></br>
            <br></br>
        {% endfor %}
    </body>
</html>